
:root {
  --fg: #aaaaaa;
  --bg: #aaaaaa;
  --txt: #aaaaaa;
  --acnt-a: #aaaaaa;
  --acnt-b: #aaaaaa;
  --acnt-c: #aaaaaa;
  --acnt-d: #aaaaaa;
  --acnt-e: #aaaaaa;
  --invalid-selection: #ff99bb;
  --main: #aaaaaa;
  --bd: #aaaaaa;
  --clr: #00000000;
  --width: 92vw;
}

html[data-theme='Sky']:root {
  --fg: #ffffff;
  --bg: #feffff;
  --txt: #1f1f1f;
  --acnt-a: #312c30;
  --acnt-b: #ccffee;
  --acnt-c: #c5c0ba;
  --acnt-d: #f9fbfd;
  --acnt-e: #ffffff;
  --invalid-selection: #ff99bb;
  --main: #e9e8e6;
  --bd: #aaddff;
  --clr: #00000000;
  --width: 92vw;
}

html[data-theme='Light']:root {
  --fg: #ffffff;
  --bg: #feffff;
  --txt: #1f1f1f;
  --acnt-a: #ffffff;
  --acnt-b: #e8e7e5;
  --acnt-c: #ffffff;
  --acnt-d: #ffffff;
  --acnt-e: #ffffff;
  --invalid-selection: #ff99bb;
  --main: #ffffff;
  --bd: #fbfbfb;
  --clr: #00000000;
  --width: 92vw;
}

html[data-theme='Dark']:root {
  --fg: #ffffff;
  --bg: #020202;
  --txt: #BAC6BC;
  --acnt-a: #030A02;
  --acnt-b: #030906;
  --acnt-c: #06050D;
  --acnt-d: #020204;
  --acnt-e: #070707;
  --invalid-selection: #ff99bb;
  --main: #020202;
  --bd: #0a0b0d;
  --clr: #00000000;
  --width: 92vw;
}

html[data-theme='Claret']:root {
  --fg: #F5F6F8;
  --bg: #0C0A10;
  --txt: #F5F6F8;
  --acnt-a: #1C1419;
  --acnt-b: #3213af;
  --acnt-b: #221318;
  --acnt-c: #111015;
  --acnt-d: #020301;
  --acnt-e: #4f4840;
  --invalid-selection: #ff99bb;
  --main: #171719;
  --bd: #101116;
  --clr: #00000000;
  --width: 92vw;
}

@font-face {
  src: url(./../fonts/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 1em;
  background: linear-gradient(var(--acnt-e), var(--acnt-d));
}

.settings-panel {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--acnt-d);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2em;
  cursor: pointer;
  background: linear-gradient(var(--acnt-d), var(--bd));
}

.settings-area {
  width: 50%;
  height: 100%;
  border-radius: 1em;
  background: linear-gradient(var(--bd), var(--acnt-d));
  border-top: 10px outset var(--acnt-d);
  display: grid;
  gap: 2em;
  padding: 1.5em 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  box-shadow: var(--bd) 0 0 .1em .1em;
}

.settings-area-card {
  box-shadow: var(--bd) 0 0 .2em .1em, inset 0 -2em 5em .1em var(--acnt-b);
  border-radius: 1em;
  align-items: start;
  justify-content: center;
  padding: 1em;
  border-bottom: .4em inset var(--bd);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
}

select {
  width: 75%;
  padding: 1em;
  border-radius: .7em;
  background: var(--bg);
  color: var(--txt);
}

.settings-area h3 {
  color: var(--txt);
  font-family: mono;
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 2em;
  gap: 1em;
  background: linear-gradient(var(--clr), var(--acnt-b));
  border-bottom: .4em inset var(--acnt-c);
  overflow: hidden;
}

.settings-panel {
  display: none;
  position: absolute;
}

.inner-field {
  border: 2px solid var(--bd);
  border-top: 4px outset var(--bd);
  border-bottom: 0px outset var(--clr);
  box-shadow: var(--bd) 0 0 2em .2em, inset -.2em -.2em 1em var(--bd);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: var(--acnt-d);
}

.inner-field:nth-child(1) {
  width: 50%;
  height: 100%;
  position: relative;
  padding: unset;
  flex-direction: column;
  padding: unset;
}
.inner-field:nth-child(2) {
  width: 50%;
  height: 100%;
  padding: 7em 4em;
}

.input-area-secondary {
  width: 30vw;
  height: 30%;
  background: var(--clr);
  border-top: 10px outset var(--acnt-d);
  border-bottom: 0px inset var(--acnt-d);
  border-radius: 1em;
  box-shadow: inset  0 2em 2em .1em var(--bd), var(--bd) 0 -.1em .2em .05em;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  padding: .7em;
  gap: .2em;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.input-area-secondary .area-shader {
  background: linear-gradient(var(--bd), var(--acnt-d));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .1s;
  transition-timing-function: ease;
  z-index: 3;
}

.input-area {
  margin-top: 1em;
  width: 40vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em 2em 50% 50%;
  background: radial-gradient(var(--acnt-b), var(--acnt-d), var(--acnt-d));
}

.input-pair {
  width: .01em;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}

.input-pair-I {
  transform: rotate(0);
  padding: 7% 0;
}

.input-pair-II {
  transform: rotate(0);
  padding: 21% 0;
}

.input-pair-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: .1em;
  height: 50%;
  gap: 3em;
  z-index: 0;
}

.input-pair-center .input-item {
  transition: .7s;
  border-bottom: 2px outset var(--acnt-b);
}

.input-pair-center-a {
  flex-direction: row;
  width: 50%;
  height: 1em;
}

.input-pair-center-b {
  width: .01em;
  height: 50%;
}

.input-item {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background: var(--acnt-d);
  color: var(--txt);
  font-weight: 600;
  box-shadow: var(--bd) 0 0 .05em .1em, inset -.1em -.1em 1em var(--bd);
  border: 1px solid var(--bd);
  transition: .1s;
  font-family: mono;
  border-bottom: 2px outset var(--acnt-d);
  transition-timing-function: ease;
}

.input-pair-center .input-item {
  width: 6em;
  height: 6em;
}

.input-area-secondary .input-item {
  justify-self: center;
  width: 4em;
  height: 4em;
  border-bottom: 2px inset var(--acnt-b);
}

.input-item:hover {
  background: var(--acnt-b);
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
  cursor: pointer;
}

.input-item:active {
  background: var(--acnt-c);
  border: 2px solid var(--acnt-c);
  border-bottom: 2px inset var(--acnt-b) !important;
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
}

.switch-current-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3em;
  right: 3em;
  z-index: 1;
  padding: .1em;
  border-radius: 50%;
}

#switch-current {
  width: 5em;
  height: 5em;
  border: 2px outset var(--acnt-d);
  transition: .7s;
}

#switch-current:active {
  border: 2px solid var(--acnt-c);
  border-bottom: 2px inset var(--acnt-b) !important;
}

.display-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2em 2em 1em 1em;
  padding: 1em;
  border-top: 20px outset var(--acnt-d);
  box-shadow: inset 0 5em 5em .1em var(--clr), var(--clr) 0 0 .2em .1em;
  transition: .7s;
  transition-timing-function: ease;
}

.display-area {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  padding: 2em;
  background: var(--clr);
  font-family: mono;
}

.display-area:nth-child(1) {
  border-radius: 1em 1em 0 0;
}

.display-area:nth-child(2) {
  border-radius: 0 0 1em 1em;
}

@keyframes tu-pulse {
  0% {
    text-decoration: underline var(--clr) .4em;
  }

  50% {
    text-decoration: underline var(--acnt-b) .4em;
  }

  100% {
    text-decoration: underline var(--clr) .4em;
  }
}

.product-display {
  color: var(--clr);
  width: 75%;
  height: 50%;
  border: 2px solid var(--acnt-b);
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding: 1.7em;
  background: var(--clr);
  font-weight: 600;
  overflow: scroll;
  cursor: pointer;
  transition: .1s;
  border-radius: 1em;
  box-shadow: inset 0 2em 2em .1em var(--acnt-b), var(--acnt-b) 0 0 .2em .1em;
  text-decoration: underline var(--clr) .1em;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}

.product-display:active {
  background: var(--acnt-b);
  border-bottom: 2px inset var(--acnt-b) !important;
}

#binary-product-display {
  border-bottom: 7px inset var(--acnt-b);
}

#decimal-product-display {
  border-bottom: 7px inset var(--acnt-b);
}

@media (max-width: 480px) {
  .settings-area {
    gap: 1em;
    padding: 1em .7em;
  }

  .settings-area-card {
    border-bottom: .4em outset var(--acnt-b);
  }

  .inner-field:nth-child(1) {
    width: 100%;
    height: 70%;
    flex-direction: column;
    gap: 1em !important;
    padding: 1.7em !important;
  }

  .inner-field:nth-child(2) {
    padding: .7em 1em;
    width: 100%;
    height: 30%;
    padding: 1em 1em;
    padding: .7 1em !important;
    border-radius: 2em 2em 1em 1em;
  }

  .input-area {
    padding: 1em;
    border-radius: 2em;
  }
  .input-area-secondary {
    width: 80vw !important;
    height: 25% !Important;
    border-radius: .9em;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 37% 0 !important;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 47% 0 !Important;
  }

  .input-pair-center {
    gap: 1.5em !important;
  }

  .input-area .input-item {
    width: 3.7em !important;
    height: 3.7em !important;
  }

  .input-pair-center .input-item {
    width: 3em !important;
    height: 3em !important;
  }

  .input-area-secondary .input-item {
    width: 2.9em !important;
    height: 2.9em !important;
  }
}

@media (max-width: 1080px) {
  body, html {
    padding: .1em;
  }

  .settings-panel {
    padding: 2em 1em;
  }

  .settings-area {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    padding: 1em .7em;
  }

  .outer-field {
    flex-direction: column-reverse;
    padding: .2em;
    border-radius: unset;
    border-bottom: unset
    background: linear-gradient(var(--acnt-d), var(--acnt-c));
    gap: .4em;
  }
  
  .inner-field {
    gap: 2em;
    padding: .2em;
  }

  .inner-field:nth-child(1) {
    padding: 1.7em;
    width: 100%;
    height: 70%;
    flex-direction: column;
    gap: unset;
  }

  .inner-field:nth-child(2) {
    padding: .7em 1em;
    width: 100%;
    height: 30%;
    padding: 1em 1em;
    padding: unset;
    border-radius: 2em 2em 1em 1em;
  }

  .input-area {
    width: 80vw;
    height: 80vw;
    padding: 9em;
  }
    
  .input-area-secondary {
    gap: .1em;
    width: 95%;
    height: 30%;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 30% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 43% 0;
  }

  .input-pair-center {
    gap: 1.5em;
  }

  .input-item {
    width: 4.5em;
    height: 4.5em;
  }

  .input-area-secondary .input-item {
    width: 3em;
    height: 3em;
  }

  .input-pair-center .input-item {
    width: 3.5em;
    height: 3.5em;
  }

  #switch-current {
    width: 3.5em;
    height: 3.5em;
  }

  .switch-current-field {
    bottom: 1.2em;
    right: 1.2em;
  }

  .display-field {
    padding: .1em;
  }

  .display-area {
    padding: 0;
  }

  .product-display {
    height: 100%;
    width: 100%;
    border-radius: .7em;
    box-shadow: unset;
  }

  #binary-product-display {
    border-radius: 1em 1em 0 0;
    border-bottom: 0px inset var(--clr);
  }

  #decimal-product-display {
    border-top: unset;
    border-bottom: 4px inset var(--acnt-b);
    border-radius: 0 0 1em 1em;
    box-shadow: unset;
  }
}

@media (min-height: 1080px) {
  .settings-panel {
    padding: 4em;
  }

  .outer-field {
    padding: 2% 7%;
    gap: 1em;
  }

  .inner-field {
    padding: .7em;
  }

  .input-area {
    width: 60vw;
    height: 60vw;
  }

  .input-area-secondary {
    gap: .5em;
    width: 75%;
    height: 40%;
  }

  .inner-field:nth-child(1) {
    padding: 2em;
    width: 100%;
    height: 60%;
  }

  .inner-field:nth-child(2) {
    width: 100%;
    height: 40%;
    padding: 2em 4em;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 17% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 25% 0;
  }

  .input-item {
    width: 5em;
    height: 5em;
  }

  .input-pair-center {
    gap: 1.5em;
  }

  .input-pair-center .input-item {
    width: 3.2em;
    height: 3.2em;
  }

  #switch-current {
    width: 3.2em;
    height: 3.2em;
  }

  .switch-current-field {
    bottom: 3em;
    right: 3em;
  }

  .display-area {
    padding: 2em;
  }
}

@media (min-height: 1280px) {
  .settings-panel {
    padding: 4em;
  }

  .outer-field {
    padding: 3% 7%;
  }

  .inner-field:nth-child(1) {
    padding: 3em;
    width: 100%;
    height: 70%;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 25% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 35% 0;
  }

  .input-item {
    width: 5em;
    height: 5em;
  }

  .input-area-secondary {
    gap: .5em;
    width: 75%;
    height: 30%;
  }

  .input-pair-center {
    gap: 1.7em;
  }

  .input-pair-center .input-item {
    width: 4em;
    height: 4em;
  }

  #switch-current {
    width: 3em;
    height: 3em;
  }

  .switch-current-field {
    bottom: 3em;
    right: 3em;
  }
}

@media (min-width: 1920px) {
  .outer-field {
    padding: 2% 15%;
    padding: 2em;
  }

  .inner-field {
    width: 50%;
    height: 100%;
    padding: 1em;
  }

  .inner-field:nth-child(1) {
    position: relative;
    padding: 2em;
    width: 50%;
    height: 100%;
  }

  .inner-field:nth-child(2) {
    width: 100%;
    height: 100%;
    padding: 2em 4em;
    justify-content: center;
  }

  .input-area {
    width: 40vw;
    height: 40vw;
    border-radius: unset;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 22% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 32% 0;
  }

  .input-item {
    width: 6em;
    height: 6em;
  }

  .input-pair-center {
    gap: 2em;
  }

  .input-pair-center .input-item {
    width: 5em;
    height: 5em;
  }

  #switch-current {
    width: 5em;
    height: 5em;
  }

  .switch-current-field {
    bottom: 3em;
    right: 3em;
  }
}

