
:root {
  --fg: #ffffff;
  --bg: #feffff;
  --txt: #1f1f1f;
  --acnt-a: #312c30;
  --acnt-b: #00ffaa;
  --acnt-c: #c5c0ba;
  --acnt-d: #f9fbfd;
  --acnt-e: #ffffff;
  --main: #e9e8e6;
  --bd: #aaddff;
  --clr: #00000000;
  --width: 92vw;
}


@font-face {
  src: url(./../fonts/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 1em;
  background: linear-gradient(var(--acnt-e), var(--acnt-d));
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 2em;
  gap: 2em;
  background: linear-gradient(var(--acnt-d), var(--acnt-b));
  border-bottom: .4em outset var(--bd);
}

.inner-field {
  width: 50%;
  height: 100%;
  border: 2px solid var(--bd);
  box-shadow: var(--bd) 0 0 2em .2em, inset -.2em -.2em 1em var(--bd);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: var(--acnt-d);
}

.inner-field:nth-child(1) {
  position: relative;
  padding: 5em;
}

.input-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(var(--acnt-b), var(--acnt-d));
  box-shadow: var(--bd) 0 0 .2em .1em, inset -.1em -.1em 1em var(--bd);
}

.input-pair {
  width: .1em;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-pair-I {
  transform: rotate(0);
  padding: 2% 0;
}

.input-pair-II {
  transform: rotate(0);
  padding: 18% 0;
}

.input-pair-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1em;
  height: 50%;
  gap: 1em;
}

.input-item {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background: var(--acnt-d);
  color: var(--txt);
  font-weight: 600;
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
  border: 2px solid var(--bd);
  transition: .7s;
  font-family: mono;
}

.input-item:hover {
  background: var(--acnt-b);
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
  border: 2px solid var(--bd);
  cursor: pointer;
}

.input-item:active {
  background: var(--acnt-c);
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
}

.switch-current-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1em;
  right:2em;
  z-index: 20;
  padding: .1em;
  border-radius: 50%;
}

.display-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 1em;
  gap: 2em;
}

.display-area {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  border-radius: 1em;
  width: 100%;
  height: 50%;
  padding: 2em;
  background: radial-gradient(var(--acnt-b), var(--acnt-d));
  box-shadow: var(--bd) 0 0 .2em .1em, inset -.1em -.1em 1em var(--bd);
  font-family: mono;
}

.product-display {
  width: 75%;
  height: 25%;
  border: 2px solid var(--bd);
  border-radius: 1em;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding: 1em;
  background: var(--acnt-e);
  background: radial-gradient(var(--acnt-d), var(--acnt-b));
  box-shadow: inset var(--acnt-d) 0 0 4em 2em, var(--bd) 0 0 .2em .1em;
  font-weight: 600;
}

@media (max-width: 1080px) {
  body, html {
    padding: unset;
  }

  .outer-field {
    flex-direction: column-reverse;
    padding: 1em;
    border-radius: unset;
    border-bottom: unset;
  }

  .inner-field {
    width: 100%;
    height: 50%;
  }

  .inner-field:nth-child(1) {
    padding: 2em;
    width: var(--width);
    height: var(--width);
  }
  
  .input-area {
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 6% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 18% 0;
  }

  .input-pair-center {
    gap: .5em;
  }

  .input-item {
    width: 4.5em;
    height: 4.5em;
  }

  .switch-current-field {
    bottom: .9em;
    right:.9em;
  }

  .display-area {
    padding: 1em 2em;
  }

  .product-display {
    height: 75%;
    width: 100%;
    border-radius: .7em;
  }
}

