
:root {
  --fg: #ffffff;
  --bg: #feffff;
  --txt: #1f1f1f;
  --acnt-a: #312c30;
  --acnt-b: #ccffee;
  --acnt-c: #c5c0ba;
  --acnt-d: #f9fbfd;
  --acnt-e: #ffffff;
  --invalid-selection: #ff99bb;
  --main: #e9e8e6;
  --bd: #aaddff;
  --clr: #00000000;
  --width: 92vw;
}


@font-face {
  src: url(./../fonts/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  list-style: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 1em;
  background: linear-gradient(var(--acnt-e), var(--acnt-d));
}

.outer-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 2em;
  gap: 1em;
  background: linear-gradient(var(--acnt-d), var(--acnt-b));
  border-bottom: .4em inset var(--acnt-c);
  overflow: hidden;
}

.inner-field {
  border: 2px solid var(--bd);
  border-top: 4px outset var(--bd);
  border-bottom: 0px outset var(--clr);
  box-shadow: var(--bd) 0 0 2em .2em, inset -.2em -.2em 1em var(--bd);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: var(--acnt-d);
}

.inner-field:nth-child(1) {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 7em;
  flex-direction: column;
}
.inner-field:nth-child(2) {
  width: 50%;
  height: 100%;
  padding: 7em 4em;
}

.input-area-secondary {
  width: 100%;
  height: 30%;
  background: var(--acnt-d);
  border-top: 10px outset var(--acnt-d);
  border-radius: 1em;
  box-shadow: inset  .0em .9em .9em .1em var(--bd), var(--bd) 0 0 .2em .1em;
  display: none;
}

.input-area {
  margin-top: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(var(--acnt-b), var(--acnt-d), var(--acnt-d));
  box-shadow: var(--bd) 0 0 .2em .1em, inset -.1em -.1em 1em var(--bd);
  border-bottom: .4em inset var(--bd);
}

.input-pair {
  width: .1em;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-pair-I {
  transform: rotate(0);
  padding: 7% 0;
}

.input-pair-II {
  transform: rotate(0);
  padding: 21% 0;
}

.input-pair-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1em;
  height: 50%;
  gap: 3em;
}

.input-pair-center .input-item {
  transition: .7s;
  border-bottom: 2px outset var(--acnt-b);
}

.input-pair-center-a {
  flex-direction: row;
  width: 50%;
  height: 1em;
}

.input-pair-center-b {
  width: 1em;
  height: 50%;
}

.input-item {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background: var(--acnt-d);
  color: var(--txt);
  font-weight: 600;
  box-shadow: var(--bd) 0 0 .05em .1em, inset -.1em -.1em 1em var(--bd);
  border: 1px solid var(--bd);
  transition: .1s;
  font-family: mono;
  border-bottom: 2px outset var(--acnt-d);
  transition-timing-function: ease;
}

.input-pair-center .input-item {
  width: 6em;
  height: 6em;
}

.input-item:hover {
  background: var(--acnt-b);
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
  cursor: pointer;
}

.input-item:active {
  background: var(--acnt-c);
  border: 2px solid var(--acnt-c);
  border-bottom: 2px inset var(--acnt-b) !important;
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.1em -.1em 1em var(--bd);
}

.decimal-insertion-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3em;
  right: 9em;
  z-index: 20;
  padding: .1em;
  border-radius: 50%;
}

#decimal-point {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 5em;
  height: 5em;
  border: 2px outset var(--acnt-d);
  transition: .7s;
}

.decimal-point:active {
  border: 2px solid var(--acnt-c);
  border-bottom: 2px inset var(--acnt-b) !important;
}

.switch-current-field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3em;
  right: 3em;
  z-index: 20;
  padding: .1em;
  border-radius: 50%;
}

#switch-current {
  width: 5em;
  height: 5em;
  border: 2px outset var(--acnt-d);
  transition: .7s;
}

#switch-current:active {
  border: 2px solid var(--acnt-c);
  border-bottom: 2px inset var(--acnt-b) !important;
}

.display-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2em 2em 1em 1em;
  padding: 1em;
  border-top: 20px outset var(--acnt-d);
  box-shadow: inset  .0em 5em 5em .1em var(--acnt-b), var(--bd) 0 0 .2em .1em;
}

.display-area {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  padding: 2em;
  background: var(--clr);
  font-family: mono;
}

.display-area:nth-child(1) {
  border-radius: 1em 1em 0 0;
}

.display-area:nth-child(2) {
  border-radius: 0 0 1em 1em;
}

.product-display {
  width: 75%;
  height: 50%;
  border: 2px solid var(--acnt-b);
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding: 1em;
  background: var(--clr);
  font-weight: 600;
  overflow: scroll;
  cursor: pointer;
  transition: .1s;
  border-radius: 1em;
  box-shadow: inset  .0em 2em 2em .1em var(--acnt-b), var(--acnt-b) 0 0 .2em .1em;
}

.product-display:active {
  background: var(--acnt-b);
  border-bottom: 2px inset var(--acnt-b) !important;
}

#binary-product-display {
  border-bottom: 7px inset var(--acnt-b);
}

#decimal-product-display {
  border-bottom: 7px inset var(--acnt-b);
}

@media (max-width: 1080px) {
  body, html {
    padding: unset;
  }

  .outer-field {
    flex-direction: column-reverse;
    padding: .7em;
    border-radius: unset;
    border-bottom: unset;
    background: linear-gradient(var(--acnt-d), var(--acnt-c));
    gap: .4em;
  }
  
  .inner-field {
    gap: 2em;
    padding: .2em;
  }

  .inner-field:nth-child(1) {
    padding: 1.7em;
    width: var(--width);
    height: var(--width);
    width: 100%;
    height: 70%;
    flex-direction: column;
  }

  .inner-field:nth-child(2) {
    padding: .7em 1em;
    width: 100%;
    height: 30%;
    padding: 1em 1em;
  }

  .input-area-secondary {
    width: 100%;
    height: 30%;
    background: var(--acnt-d);
    border-top: 10px outset var(--acnt-d);
    border-radius: 1em;
    box-shadow: inset  .0em .9em .9em .1em var(--bd), var(--bd) 0 0 .2em .1em;
  }

  .input-area {
    width: 80vw;
    height: 80vw;
    box-shadow: inset var(--acnt-d) 0 4em 2em, var(--bd) 0 1em 1em .1em;
    padding: 10em;
  }
    
  .input-pair-I {
    transform: rotate(0);
    padding: 30% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 42% 0;
  }

  .input-pair-center {
    gap: 1.2em;
  }

  .input-item {
    width: 4.5em;
    height: 4.5em;
  }

  .input-pair-center .input-item {
    width: 3.5em;
    height: 3.5em;
  }

  .decimal-insertion-field {
    bottom: 2em;
    right: unset;
    left: 2em;
  }

  #decimal-point {
    width: 3em;
    height: 3em;
  }

  #switch-current {
    width: 3em;
    height: 3em;
  }

  .switch-current-field {
    bottom: 2em;
    right: 2em;
  }

  .display-field {
    padding: .1em;
  }

  .display-area {
    padding: 0;
  }

  .product-display {
    height: 100%;
    width: 100%;
    border-radius: .7em;
    box-shadow: unset;
  }

  #binary-product-display {
    border-radius: 1em 1em 0 0;
    border-bottom: 0px inset var(--clr);
  }

  #decimal-product-display {
    border-top: unset;
    border-bottom: 4px inset var(--acnt-b);
    border-radius: 0 0 1em 1em;
    box-shadow: unset;
  }
}

@media (min-height: 1080px) {
  .outer-field {
    padding: 5% 10%;
  }

  .inner-field {
    padding: .7em;
  }

  .input-area {
    width: 60vw;
    height: 60vw;
  }

  .inner-field:nth-child(1) {
    padding: 3em;
    width: 100%;
    height: 70%;
  }

  .inner-field:nth-child(2) {
    width: 100%;
    height: 30%;
    padding: 2em 4em;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 19% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 29% 0;
  }

  .input-item {
    width: 6em;
    height: 6em;
  }

  .input-pair-center {
    gap: 2em;
  }

  .input-pair-center .input-item {
    width: 4em;
    height: 4em;
  }

  .decimal-insertion-field {
    bottom: 1em;
    right: 6em;
    left: unset;
  }

  #decimal-point {
    width: 3em;
    height: 3em;
  }

  #switch-current {
    width: 3em;
    height: 3em;
  }

  .switch-current-field {
    bottom: 2em;
    right: 2em;
  }

  .display-area {
    padding: 2em;
  }
}

@media (min-height: 1280px) {
  .outer-field {
    padding: 2% 10%;
  }

  .inner-field:nth-child(1) {
    padding: 4em;
    width: 100%;
    height: 50%;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 17% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 27% 0;
  }

  .input-item {
    width: 5em;
    height: 5em;
  }

  .input-pair-center {
    gap: 2em;
  }

  .input-pair-center .input-item {
    width: 4em;
    height: 4em;
  }

  .decimal-insertion-field {
    bottom: 2em;
    right: 7em;
  }

  #decimal-point {
    width: 3em;
    height: 3em;
  }

  #switch-current {
    width: 3em;
    height: 3em;
  }

  .switch-current-field {
    bottom: 3em;
    right: 2em;
  }
}

@media (min-width: 1920px) {
  .outer-field {
    padding: 2% 15%;
    padding: 2em;
  }

  .inner-field {
    width: 50%;
    height: 100%;
    padding: 1em;
  }

  .inner-field:nth-child(1) {
    position: relative;
    padding: 9em;
    width: 50%;
    height: 100%;
  }

  .inner-field:nth-child(2) {
    width: 100%;
    height: 100%;
    padding: 2em 4em;
  }

  .input-area {
    width: 30vw;
    height: 30vw;
  }

  .input-pair-I {
    transform: rotate(0);
    padding: 13% 0;
  }

  .input-pair-II {
    transform: rotate(0);
    padding: 25% 0;
  }

  .input-item {
    width: 9em;
    height: 9em;
  }

  .input-pair-center {
    gap: 3em;
  }

  .input-pair-center .input-item {
    width: 7em;
    height: 7em;
  }

  .decimal-insertion-field {
    bottom: 2em;
    right: 9em;
  }

  #decimal-point {
    width: 5em;
    height: 5em;
  }

  #switch-current {
    width: 5em;
    height: 5em;
  }

  .switch-current-field {
    bottom: 3em;
    right: 3em;
  }
}

